html{
  line-height: 1.2em;
  font-size: 1.2em;
  -webkit-overflow-scrolling:touch;
  margin-top: 1em;
  font-family: tahoma;
  background-color: #ffe6e6;
  margin-top: 4em;
}

h1{
  text-align: center;
  margin-bottom: 10px;
  font-size:30px;
  color: #cc0000;
  margin-top: 20px;
}

p{
  margin-top: 15px;
  text-align: center;
}

label{
  display: block;
  text-align: center;
  padding:0.3em;
  font-size: 1em;
  font-weight: bold;
  color: #cc0000 ;
  margin-top: 40px;
}

input{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  font-size:1.2em;
  background-color: pink;
}

select{
	display: block;
	margin-right: auto;
	margin-left:auto;
	width: 90%;
	font-size: 2em;
	color:#cc0000;
	margin-bottom: 2em;
	background: pink;
	padding-bottom:20px;
	padding-top: 20px;
	padding-left: 10px;
}


.student_year_div{
  display:inline;
  }

.student_year_div input{
  display: block;
}
.student_year_div label{
  display: block;
  font-size: 13px;
}

textarea{
  width:90%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: pink;
}
.submit_btn input{
		background-color:#cc0000 ;
		color: white;
		margin-top: 30px;
		width: 50%;
}

@media only screen and (max-width: 600px) {
  html{
  	background-color: white;
  }
  h1{
  	font-size: 2em;
  }
}
@media only screen and (min-width: 600px) {
	html{
		background-color: white;
	}
	h1{
		font-size: 3em;
		margin-bottom: 0.7em;
	}
	p{
		font-size: 1.7em;
	}
	label{
		font-size:1.9em;
	}
	input{
		font-size: 1.9em;
		padding: 0.6em;
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}
	.student_year_div label{
		margin-top: 1.2em;
		font-size: 1.7em;
	}
	.student_year_div input{
		padding:1em;
	}

	textarea{
		padding: 2em;
		margin-top: 0.2em;
		margin-bottom: 0.4em;
		padding-bottom: 6em;
	}

	.submit_btn input{
		background-color:#cc0000 ;
		color: white;
	}
}
