html{
  line-height: 1.2em;
  font-size: 1.2em;
  -webkit-overflow-scrolling:touch;
  margin-top: 1em;
}

h1{
  text-align: center;
  margin-bottom: 10px;
}

p{
  margin-top: 15px;
  text-align: center;
}

label{
  display:block;
  text-align: center;
  padding:0.3em;
  font-size: 1em;
}

input{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  font-size:1.2em;
}

.student_year_div{
  display:inline;
}

.student_year_div input{
	display: block;
}
.student_year_div label{
	display: block;
	font-size: 13px;
}
textarea{
	width:90%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

@media screen and (min-width: 400px){
  input{
    width:90%;
  }
  div{
    display:inline;
  }
}